extends template

block title
    title Page 1

block content
    include include/menu
    h1 1 Lorem ipsum dolor sit amet.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae architecto dolorum tempora animi accusantium suscipit amet qui in alias excepturi!
    include include/test


